{% extends "basic_app/basic_app_base.html" %}
{% block body_block %}
  <div class="jumbotron">

    <div class="row">
      <div class="col-md-12 ">
        <form method="GET" action="{% url 'basic_app:search_detail' %}" class="navbar-form ">
        <input type="text" id="" class="searchb" name="q" placeholder="Search">

        <input type="radio" name="posit" value="depart">Department
        <input type="radio" name="posit" value="na">Name
        <input type="radio" name="posit" value="idd">Id
        <input type="radio" class="radio_item" value="" name="item" id="radio1">
        <label class="label_item tooltip" for="radio1"> <span class="glyphicon glyphicon-user "> <span class="tooltiptext">Name</span></span></label>

        <!--RADIO 2-->
        <input type="radio" class="radio_item" value="" name="item" id="radio2">
        <label class="label_item tooltip" for="radio2"> <span class="glyphicon glyphicon-home "><span class="tooltiptext">Department</span></span></label>
        <input type="submit" class="btn" value="Search" >


        </form>
      </div>


    </div>
    <div class="row">

      <h1>{{injectme}}</h1>
      <div id="piechart" style="width: 900px; height: 500px;"></div>
      <table>
        <!-- <thead>
          <th><div class=""></div></th>
          <th><div class="name">Name</th></div>
          <th><div class="position">
          Position</th></div>
          <th><div class="position">
          Education</th></div>
        </thead> -->


        {% load static %}
        {% for school in department_list %}
        <div class="row borderbot">
          <div class="col-md-1 minusmar">

          </div>
          <div class="col-md-4">
            <div class="row pull-down">
              <div class="col-md-3">

              </div>
              <div class="col-md-9 padleftlst pull-down">
                <div class="row">
                  <div class="col-md-4">
                    <a href="{% url 'basic_app:ddetail' pk=school.id%}">{{school.dep}} </a>
                  </div>
                  <div class="col-md-4">
                    <p>{{school.depatments.all|length}}</p>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-12">
                    {{school.depatments.all|length}}

                  </div>

                </div>
              </div>



            </div>
          </div>
        </div>
        {% endfor %}
          <!-- {% load static %}
          {% for school in x %}

        <tr>

          <td><a href="{% url 'basic_app:ddetail' pk=school.id%}">{{school.dep}} </a></td>
          <td>{{school.namedep}}</td>
          <td>{{school.depatments.all|length}}</td>
          <td>{{school.injectme}}</td>
          <td>{{school.salary__sum}}<br></td>


        </tr>
        {% endfor %}
        {% for school in injectme %}
          {{school.depname}}
          {{school.salary__sum}}<br>


        {% endfor %} -->


      </table>
      {% if is_paginated %}
          <div class="pagination">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
              </span>
          </div>
        </div>
    {% endif %}



  </div>




{% endblock %}
