{% extends "basic_app/basic_app_base.html" %}
{% block body_block %}
  <div class="row boxshadowbot">
    <div class="col-md-4">
      <h2>Employee List</h2>
    </div>
  </div>
  <!-- <div class="jumbotron bgjumbotron2"> -->

    <div class="row paddown10">
      <div class="col-md-10">
        <form method="GET" action="{% url 'basic_app:search_detail' %}" class="navbar-form ">
        <input type="text" id="" class="searchb" name="q" placeholder="Search">

        <input type="radio" name="posit" value="depart">Department
        <input type="radio" name="posit" value="na">Name
        <input type="radio" name="posit" value="idd">Id
        <!-- <input type="radio" class="radio_item" value="" name="item" id="radio1">
        <label class="label_item tooltip" for="radio1"> <span class="glyphicon glyphicon-user "> <span class="tooltiptext">Name</span></span></label>


        <input type="radio" class="radio_item" value="" name="item" id="radio2">
        <label class="label_item tooltip" for="radio2"> <span class="glyphicon glyphicon-home "><span class="tooltiptext">Department</span></span></label> -->
        <!-- <input type="submit" class="btn" value="Search" > -->


        </form>

      </div>
      <div class="col-md-2 ">
        <a class="btn btn-info pull-right" href="{% url 'basic_app:create' %}">New Employee</a>
      </div>


    </div>
    {% load static %}
    {% for school in employee_list %}
    <div class="row borderbot">
      <div class="col-md-1 minusmar">

      </div>
      <div class="col-md-4">
        <div class="row pull-down">
          <div class="col-md-3">

              <img class= "profile_img" src="{% static school.profile_picture %}" alt="Oh, didn't show!" height="55" width="55">
          </div>
          <div class="col-md-9 padleftlst pull-down">
            <div class="row">
              <div class="col-md-12">
                <a href="{{school.id}}">{{school.name}} </a>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="textsch">{{school.email}} </p>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 pull-right">
        <div class="col-md-9 padleftlst pull-down">
          <div class="row " >
            <div class="col-md-12">
              <p class="salaryfont">{{school.salary}}</p>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12 bathandsalary ">
              <p class="salaryfont2"> THB</p>
            </div>

          </div>
        </div>

      </div>
    </div>
    {% endfor %}

      <!-- <table> -->
        <!-- <thead>
          <th><div class=""></div></th>
          <th><div class="name">Name</th></div>
          <th><div class="position">
          Position</th></div>
          <th><div class="position">
          Education</th></div>
        </thead> -->
          <!-- {% load static %}
          {% for school in employee_list %}
            <tr>
              <td><img class= "profile_img" src="{% static school.profile_picture %}" alt="Oh, didn't show!" height="50" width="58"></td>
              <td><a href="{{school.id}}/">{{school.name}} </a></td>
            </tr>
            <tr>

              <td>{{school.position}}</td>
              <td>{{school.education}}</td>
            </tr>



        {% endfor %}
      </table> -->
      {% if is_paginated %}
          <div class="pagination">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
              </span>
          </div>
        <!-- </div> -->
    {% endif %}







{% endblock %}
