{% extends "basic_app/basic_app_base.html" %}
{% block body_block %}
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-5 textaligncen">
        {% load static %}
        <p> <img class= "img-circles" src="{% static employee_details.profile_picture %}" alt="Oh, didn't show!" height="275" width="275"></p>
        <p class="namedetail">{{employee_details.name}}</p>
        <p class="positiondetail">{{employee_details.position}}</p>

        <p class="educationdetail"><span class="glyphicon glyphicon-education"></span>{{employee_details.education}}</p>
      </div>
      <div class="col-md-7 borderbtw">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>


    </div>

    <h3>Attendance:</h3>

      {% for student in employee_details.employees.all %}
        <p>{{student.time}} </p>
      {% endfor %}

  </div>
  <div class="container">
    <p><a class='btn btn-warning' href="{% url 'basic_app:update' pk=employee_details.pk %}">Update</a></p>
    <p><a class='btn btn-warning' href="{% url 'basic_app:delete' pk=employee_details.pk %}">Delete</a></p>

  </div>

{% endblock %}
