{% extends "basic_app/basic_app_base.html" %}
{% block body_block %}
<div class="row box_header">
  <div class="col-md-12">
    <h2>Employee Detail - Phum Vanaaaas</h2>
  </div>
</div>

    <div class="row">
      <div class="col-md-5 text-center">
        {% load static %}
        <p> <img style="border-radius:999em" class= "img-circles" src="{% static employee_details.profile_picture %}" alt="Oh, didn't show!" height="275" width="275"></p>
        <p class="namedetail">{{employee_details.name}}</p>
        <p class="positiondetail">{{employee_details.position}}</p>

        <p class="educationdetail"><span class="glyphicon glyphicon-education"></span>{{employee_details.education}}</p>
      </div>
      <div class="col-md-7 borderbtw">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>


    </div>
    <div class="container">
      <p><a class='btn btn-warning' href="{% url 'basic_app:update' pk=employee_details.pk %}">Update</a></p>
      <p><a class='btn btn-warning' href="{% url 'basic_app:delete' pk=employee_details.pk %}">Delete</a></p>

    </div>
    <h3>Attendance:</h3>




          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Time</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for student in employee_details.employees.all %}
              <tr>
                <td><img class= "profile_img" src="{% static student.attendance_pic %}" alt="Oh, didn't show!" height="50" width="80"></td>
                <td>{{student.time}}</td>
                {% if student.time|date:'Hi' >  late_time|date:'Hi' %}
                <td>Late</td>
                {% else %}
                  <td>Not Late</td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>






{% endblock %}
