{% extends "basic_app/basic_app_base.html" %}

{% block body_block %}
<h1>Help and Support<h1>
<p class="helptext">Account Problem<br>
LOGGED IN, BUT THE ACCOUNT DOESN'T LOOK RIGHT?<br>
If you log in but don't see what you're expecting, you might be logged into the wrong account. It's possible to create new accounts with Punch The Clock or contract with The Admin.<br><br><br>

Employee & Department Problem<br>
Can't create Employee or Department<br>
If you can't create employee or Department . you might do the wrongs thing with system, please following thise rule<br>
1.Punch The Clock is working with only English languase.<br>
2.you might enter the wrong type of input in the fill blank<br>
3.you might not enter enough input in the fill blank ex. missing one input<br><br><br>

Can't update Employee or Department<br>
If you can't update employee or Department. Please check the following rules<br>
1.Punch The Clock is working with only English languase.<br>
2.you might enter the wrong type of input in the fill blank<br>
3.you might not enter enough input in the fill blank ex. in email field,you have to enter real email(is registered)<br><br><br>

Search Problem<br>
Can't find the Employee and Department<br>
You might enter the wrong input. However, the system will provide the similar of input</p>
{% endblock %}
