h1{
  color: red;
}
th {
  padding-right: 40px;
}
.name{
  font-size: 28px;
  padding-left: 10px;
}
.position{
  font-size: 28px;
}

.bgall{
  background-color: #1b1c1d;

}

.hell{
  font-size: 500px;
}

input, textarea {
  border: 1px solid #dedede;
  padding: 8px;
  margin-bottom: 10px;
  color: #222;
  border-radius: 4px;
  outline: none !important;
}

.box_header {
  padding: 30px 15px;
  border-bottom: 1px solid #dedede;
}

.box_header h2 {
  margin: 0;
  color: #aaa;
  font-weight: 300;
}

.box_employee_head{
  margin-top: 40px;
}

.employeeList {
  padding: 2px 0;
}


body {
  background-color: #1b1c1d;
}

.homemenu {
  color: #fff !important;
  font-weight:400 !important;
  font-size: 1.3em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  border-bottom: 2px solid #fff;
}

.homemenu2 {
  color: rgba(255,255,255,.7) !important;
  font-weight:400 !important;
  font-size: 1.3em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;

}

.navbar-default{
  border-color: #1b1c1d;
  color: red;
}
.navbar.navbar-static-top {
  background-color: #222;
  border:none;
  padding-top: 10px;
}
.navbar a {
  color: #dedede !important;
}
.navbar input {
  background: #333;
  border-color: #444;
}
.nav .btn {
  padding: 8px;
  color: #aaa !important;
}

.box_body {
  padding: 15px;
}
.introhome{
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  text-align: center;
  font-size: 4.8em;
  color: #fff;
  font-weight: normal;
  padding-top: 50px;
}

.introhome2 {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  text-align: center;
  font-size: 1.7em;
  color: #fff;
  font-weight: normal;
}

.butcen{
  text-align: center;
  padding-top: 30px;

  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
.butsize{
  font-size: 20px;
  margin-top: 20px;
}


.loginborder{
  color: #fff !important;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1.4em;
  border: 2px solid #fff;
  border-radius: .28571429rem;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  margin-top: 6px;
}

.userlog{
  color: #fff !important;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1.3em;
  margin-top: 3px;
}



.textaligncen{
  text-align: center !important;
}

.profile_img{
  /*border: 3px ridge #F8F8F8;*/
  border-radius: 999em;
}

.namedetail{
  font-family: Lato,'AvenirLT-Black', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 27px !important;
}
.img-circles{
  border-radius:999em;
  border: 5px solid #dedede;

}

.positiondetail{
  font-family: Lato,'AvenirLT-Black', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  color: #5DC2BE;
  font-size: 20px;
}

.borderbtw{
  border-right: 1px solid #dedede;
  margin-top: 13px;
}
.glyphicon-education{
  padding-right:4px;
}
.educationdetail{
  font-family: Lato,'AvenirLT-Black', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 18px !important;

}
.jumbotron p{
  margin-botom: 3px;

}

body#page2{
  background-color:#fff;
}


.searchb{


  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  border-radius: 15px;

}


.radio_item{
display: none !important;
}

.label_item {
  opacity: 0.3;
}

.radio_item:checked + label {
opacity: 1;
color: #e24040;
}

.label_item:hover {
  color:blue ;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}



.bgjumbotron {
  /*#F4F8F9*/
  background-color: #fff;
  /*padding:30px;*/
  border:2px solid #eee;
  border-radius: 4px;

}
.bgjumbotron2 {
  background-color: #fff;


}


.col-sm-7{
  padding-left: 0px;
}

.col-sm-2{
  padding-right: 0px;
}

.padleftlst {
  margin-left: -14px !important;
  padding-top: 10px;
}

.jumbotron p{
  font-size: 15px;
}
.paddown10{
  padding-top: 20px;
  padding-bottom: 20px;
}

.borderbot{
  border-bottom: 1px solid #d6d6d6;
  padding-top: 4px;
}

.boxshadowbot{
  -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.19);
  -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.19);
  box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.19);
}
.minusmar{
  margin-right: -65px;
}


.salaryfont {
  font-size: 18px;
  color: #5cb85c;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
.salaryfont2 {
  font-size: 10px;
  color: #D42A16;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
.salaryfont3 {
  font-size: 18px;
  color: #D42A16;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin-top: 10px;
}

.bathandsalary{
  margin-top: -10px;
}


.employee_topic{
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  font-size: 12px;
}

.bgcolorrow{
  background-color: #F4F8F9;
  margin-bottom: 20px;
  height: 60px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  border: 1px solid #eee;

}

.listpads{
  padding-bottom: 15px;

}

.pulllstdown{
  padding-top: 15px;
}

.searchboxpad{
  margin-right: -90px;
}

.radpad{
  margin-top: 14px;
}

.plainnot{
  background-color: #fff !important;
}

.smallthb{
  font-size: 10px;
  margin-top: 18px;
  margin-left: -10px;
  color: #D42A16;
}

.butshift{
  margin-left: -39px;
}

.butmar{
  padding-top: 25px;
}
.profile_rest{
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin-top: 20px;
  font-size: 16px;
}

.addpadde{
  padding-bottom: 25px !important;
}
.xxxx{
  padding-bottom: 25px !important;
}

.department_re{
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 40px;
}
