h1{
  color: red;
}
th {
  padding-right: 40px;
}
.name{
  font-size: 28px;
  padding-left: 10px;
}
.position{
  font-size: 28px;
}

.bgall{
  background-color: #1b1c1d;

}

.hell{
  font-size: 500px;
}

body {
  background-color: #1b1c1d;
}

.homemenu {
  color: #fff !important;
  font-weight:400 !important;
  font-size: 1.3em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  border-bottom: 2px solid #fff;
}

.homemenu2 {
  color: rgba(255,255,255,.7) !important;
  font-weight:400 !important;
  font-size: 1.3em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;

}

.navbar-default{
  border-color: #1b1c1d;
  color: red;
}
.navbar{
  margin-top:25px;
  border:none;
}
.introhome{
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  text-align: center;
  font-size: 4.8em;
  color: #fff;
  font-weight: normal;
  padding-top: 50px;
}

.introhome2 {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  text-align: center;
  font-size: 1.7em;
  color: #fff;
  font-weight: normal;
}

.butcen{
  text-align: center;
  padding-top: 30px;

  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
.butsize{
  font-size: 20px;
}


.loginborder{
  color: #fff !important;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1.4em;
  border: 2px solid #fff;
  border-radius: .28571429rem;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  margin-top: 6px;
}

.userlog{
  color: #fff !important;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1.3em;
  margin-top: 3px;
}



.textaligncen{
  text-align: center !important;
}

.profile_img{
  border: 3px ridge #F8F8F8;
}

.namedetail{
  font-family: Lato,'AvenirLT-Black', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 27px !important;
}

.positiondetail{
  font-family: Lato,'AvenirLT-Black', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  color: #5DC2BE;
}

.borderbtw{
  border-left: 1px solid black;
}
.glyphicon-education{
  padding-right:4px;
}
.educationdetail{
  font-family: Lato,'AvenirLT-Black', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 18px !important;
  margin-top: 20px;
}
.jumbotron p{
  margin-botom: 3px;

}

body#page2{
  background-color:#F8F8F8;
}


.searchb{


  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  border-radius: 15px;

}


.radio_item{
display: none !important;
}

.label_item {
  opacity: 0.3;
}

.radio_item:checked + label {
opacity: 1;
color: #e24040;
}

.label_item:hover {
  color:blue ;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.textinputclass{
  border-radius: 5px;
  margin-bottom: 10px;
  padding-right: 50px;
  padding-top: 13px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;

}

.bgjumbotron {
  background-color: #fff;
  border:2px solid #d6d6d6;
  padding-top: 9px;
  border-radius: .8rem;

}
.bgjumbotron2 {
  background-color: #fff;


}

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px);
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }

    nav.sidebar a{
      padding-right: 13px;
    }


    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }

  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }

.col-sm-7{
  padding-left: 0px;
}

.col-sm-2{
  padding-right: 0px;
}

.padleftlst {
  margin-left: -14px !important;
  padding-top: 10px;
}

.jumbotron p{
  font-size: 15px;
}
.paddown10{
  padding-top: 20px;
  padding-bottom: 20px;
}

.borderbot{
  border-bottom: 1px solid #d6d6d6;
  padding-top: 4px;
}

.boxshadowbot{
  -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.19);
  -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.19);
  box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.19);
}
.minusmar{
  margin-right: -65px;
}


.salaryfont {
  font-size: 18px;
  color: #D42A16;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
.salaryfont2 {
  font-size: 10px;
  color: #D42A16;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.bathandsalary{
  margin-top: -10px;
}
