h1{
  color: red;
}
th {
  padding-right: 40px;
}
.name{
  font-size: 28px;
  padding-left: 10px;
}
.position{
  font-size: 28px;
}

.bgall{
  background-color: #1b1c1d;

}

.hell{
  font-size: 500px;
}

body {
  background-color: #1b1c1d;
}

.homemenu {
  color: #fff !important;
  font-weight:400 !important;
  font-size: 1.3em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  border-bottom: 2px solid #fff;
}

.homemenu2 {
  color: rgba(255,255,255,.7) !important;
  font-weight:400 !important;
  font-size: 1.3em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;

}

.navbar-default{
  border-color: #1b1c1d;
  color: red;
}
.navbar{
  margin-top:25px;
}
.introhome{
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  text-align: center;
  font-size: 4.8em;
  color: #fff;
  font-weight: normal;
  padding-top: 50px;
}

.introhome2 {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  text-align: center;
  font-size: 1.7em;
  color: #fff;
  font-weight: normal;
}

.butcen{
  text-align: center;
  padding-top: 30px;

  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
.butsize{
  font-size: 20px;
}


.loginborder{
  color: #fff !important;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1.4em;
  border: 2px solid #fff;
  border-radius: .28571429rem;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  margin-top: 6px;
}

.userlog{
  color: #fff !important;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1.3em;
  margin-top: 3px;
}

.img-circle {
    border-radius: 50%;

}

.textaligncen{
  text-align: center !important;
}

.img-circles {
    border-radius: 50%;
    margin-right: 10px;
    border: 6px solid #fff;
    margin-bottom: 12px;
}

.namedetail{
  font-family: Lato,'AvenirLT-Black', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 27px !important;
}

.positiondetail{
  font-family: Lato,'AvenirLT-Black', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  color: #5DC2BE;
}

.borderbtw{
  border-left: 1px solid black;
}
.glyphicon-education{
  padding-right:4px;
}
.educationdetail{
  font-family: Lato,'AvenirLT-Black', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 18px !important;
  margin-top: 20px;
}
.jumbotron p{
  margin-bottom: 3px;
}
